<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span8">
        <h4><strong><%= post.title %></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <img src="<%= post.image %>" alt="" height="180" width="260">
        </a>
      </div>
      <div class="span10">      
        <p>
          <%= post.description %>
        </p>
        <p><a class="btn" href="#">Read more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#"><%= post.user.first_name %></a> 
          | <i class="icon-calendar"></i> Posted <%= time_ago_in_words(post.created_at) %> ago.
          | <i class="icon-comment"></i><a><%=post.comments.count%> <%= link_to "Comments",post_path(post), id: "comments-link" %></a>
          | <i class="icon-share"></i> <a>39 Likes</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>